*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width:360px;
    height:480px;
    border:1px solid #000;
    margin:50px auto;
    position: relative;
    overflow: hidden;
}
.wrapper .start{
    text-align: center;
    border-bottom:1px dashed #ccc;
    cursor:pointer;
    user-select:none;
    position: relative;
    z-index: 99;
}
.wrapper .start h1{
    margin:20px 0;
    color:rgb(6, 234, 250);
}
.box{
    position: absolute;
    top:-121px;
    left:0px;
    width:360px;
    height:480px;
    /* border:1px solid #000; */
}
.over{
    width: 250px;
    height: 100px;
    border:1px solid black;
    text-align: center;
    line-height: 60px;
    position: relative;
    margin:70px auto;
    border-radius: 10px;
    display: none;
    background-color:#fff;
}
button{
    width:100px;
    height:30px;
    position: absolute;
    left:50%;
    top:50%;
    background-color:rgb(6, 234, 250);
    cursor:pointer;
    transform:translate(-50px, -1px)
}
.row{
    height:121px;
}
.row div{
    width:89px;
    height:119px;
    border-bottom:1px solid black;
    border-right:1px solid black;
    display: inline-block;
}
.row div:last-child{
    border-right:none;
}